@media screen and (max-width:375px){
  body {
    font-size: 1em;
    margin: 2px 2px;
    text-align: center;
  }
  h1 {
    font-size: 1.5em;
  }
  img{
    margin-top: 2em;
  }
}
h2 {

}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}